:root {
  --mouse-x: 50%;
  --mouse-y: 0px;
  --bg-color: #182031;
  --canvas-color: #1c2a43;
  --text-color: #b0b0b0;
  --pointer-events: auto;
  --cursor: auto;
}

html {
  overflow: hidden;
  cursor: var(--cursor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  /* background: var(--canvas-color); */
  /* border-radius: 10px; */
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d3d3d313;
}

*::-webkit-scrollbar-thumb:hover {
  background: #99999941;
}

*::-webkit-scrollbar-corner {
  /* background: var(--canvas-color); */
}

.rows {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.slider {
  min-width: 10px !important;
  /* background-color: black; */
  min-height: 100vh !important;
  cursor: w-resize;
  background-color: var(--bg-color);
  opacity: 0.95;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.slider::after {
  content: "";
  position: absolute;
  width: 10px !important;
  min-height: 100vh !important;
}

.canvas {
  position: relative;
  background-color: var(--canvas-color);
  color: var(--text-color);
  height: 100vh;
  width: var(--mouse-x);
  overflow: auto;
  /* width: min-content; */
  /* min-width: 25%; */
  /* max-width: 75%; */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  pointer-events: var(--pointer-events);
  /* scroll-behavior: smooth; */
}

.right-panel {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100vh;
  max-height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--text-color);
  width: calc(100% - var(--mouse-x));
  background-color: var(--bg-color);
  /* min-width: 25%; */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  /* transition: all 0.01s ease-in-out; */
}

.transition-width {
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.fill-over {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  flex-shrink: 1;
}

.canvas-elem {
  /* background-color: var(--canvas-color); */
  position: relative;
  z-index: 1;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  pointer-events: var(--pointer-events);
  width: fit-content;
  height: fit-content;
}

.canvas-elem-abs {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  /* background-color: var(--canvas-color); */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  pointer-events: none;
  width: fit-content;
  height: fit-content;

}

.none_pointer_events {
  pointer-events: none !important
}

.canvas-overlay {
  position: fixed;
  width: var(--mouse-x);
  height: 100vh;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 255, 0.177); */
  pointer-events: none;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  justify-content: center;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  animation: up 0.5s ease-in-out;
}

@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
  
}

.active {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.canvas-overlay-content {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  position: relative;
  width: 500px;
  height: min-content;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}

.canvas-overlay-content p {
  margin-bottom: 0;
}


.template-component {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--canvas-color); */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.237);
  cursor: grab;
  user-select: none;
  opacity: 0.75;
  color: white;
  /* pointer-events: none; */
}

.template-component:hover {
  background-color: rgba(130, 130, 130, 0.066);
  color: #fff;
  opacity: 1;
}

.real-component {
  position: absolute;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--canvas-color); */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.237);
  cursor: grab;
  user-select: none;
  /* pointer-events: none; */
}

.real-component:hover {
  background-color: rgba(130, 130, 130, 0.066);
}

.right-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* flex-grow: 3; */
  background-color: #0000001b;
}

.right-panel-header-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: transparent;
  flex-grow: 2;
  width: max-content;
  /* border-radius: 10px 10px 0 0; */
}

.filler {
  width: 100%;
}

.selected {
  background-color: var(--bg-color);
  /* transition: background-color 0.5s ease-in-out; */
}

.unselected {
  background-color: #0000001b;
  /* transition: background-color 0.5s ease-in-out; */
}



.input,
.output {
  width: 10px;
  height: 10px;
  /* background-color: white; */
  border: 1px solid white;
  border-radius: 100%;
  margin: 0.5rem;
  cursor: pointer !important;
}

.input {
  background-color: aquamarine;
}

.output {
  background-color: red;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}

.draggable {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background-color: white !important;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  pointer-events: var(--pointer-events);
  padding: 2rem;
  border-radius: 1rem;
  user-select: none;
  color: black;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--canvas-color); */
  cursor: grab;
}

iframe {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.cell {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1rem; */
}

.cell-index {
  width: 2rem;
  margin: 0;
  margin-top: 0.8rem;
  /* transform: translateX(-0.1rem); */
}

.cell-line {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  transition: background-color 0.5s ease-in-out;
}



.cell-selected {
  background-color: rgba(255, 255, 255, 0.196);
  transition: background-color 0.5s ease-in-out;
}


.cell-code {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  border-radius: 1px;
  border: 1px solid #ffffff34;

}

.web-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(2.5rem);
  padding-left: 0.1rem;
}

.web-hidden {
  z-index: -100;
  opacity: 0;
  transform: translateY(0rem);
}

.web-pointer {
  pointer-events: none;
}

.notebook-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.cell-container {
  position: relative;
  height: 100%;
  overflow: auto;
  padding-top: 1rem;
}

.notebook-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 1rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  gap: 1rem;
}

.cell-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3.5rem;
  width: 2rem;
  /* height: 100%; */
  margin-left: 0.25rem;
  overflow: hidden;
  
  
  
}

.cell-id {
  position: absolute;
  top: 0;
  transform: rotate(90deg) translateY(0.4rem);
  letter-spacing: 0.2rem;
  margin: 0;
  opacity: 0.5;
  padding-left: 4rem;
  text-overflow: ellipsis;
  width: 100%;
}

.right-panel textarea {
  opacity: 0.5;
}

pre {
  margin-bottom: 0 !important;
  tab-size: 4;
}

.canvas-overlay-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 1rem; */
  color: var(--text-color);
  border-radius: 1rem;
  gap: 1rem;
}

.canvas-overlay-header h4 {
  width: min-content;
}

.canvas-overlay-header h5 {
  width: min-content;
  opacity: 0.5;
}

/* @media screen and (max-height: 768px) {
  .slider {
    width: 2rem;
  }

  .draggable {
    pointer-events: none;
  }

  .fullscreen-button {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.074);
  }
} */