:root {
  --mouse-x: 50%;
  --mouse-y: 0px;
  --bg-color: #1c2638;
  --canvas-color: #1c2a43;
  --text-color: #000000;
  --pointer-events: auto;
  --cursor: auto;
}

html {
  overflow-x: hidden;
  cursor: var(--cursor);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  /* background: var(--canvas-color); */
  /* border-radius: 10px; */
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d3d3d313;
}

*::-webkit-scrollbar-thumb:hover {
  background: #99999941;
}

*::-webkit-scrollbar-corner {
  /* background: var(--canvas-color); */
}

.rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw !important;
}

.slider {
  min-width: 5px !important;
  /* background-color: black; */
  min-height: 100vh !important;
  cursor: w-resize;
  background-color: var(--bg-color);
}

.canvas {
  background-color: var(--canvas-color);
  color: var(--text-color);
  height: 100vh;
  width: var(--mouse-x);
  overflow: auto;
  /* width: min-content; */
  /* min-width: 25%; */
  /* max-width: 75%; */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  pointer-events: var(--pointer-events);
}

.notebook {
  color: var(--text-color);
  width: calc(100% - var(--mouse-x));
  background-color: var(--bg-color);
  /* min-width: 25%; */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  /* transition: all 0.01s ease-in-out; */
}

.transition-width {
  transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.fill-over {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  flex-shrink: 1;
}

.canvas-elem {
  /* background-color: var(--canvas-color); */
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  pointer-events: var(--pointer-events);
  width: fit-content;
  height: fit-content;
}